.carousel-container {
      /* max-width: 900px; */
      /* margin: 40px auto; */
      overflow: hidden;
    }

    .carousel-slide {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .carousel-item-custom {
      min-width: 100%;
      padding: 40px;
      background-color: #f8f9fa;
      border-radius: 10px;
    }

    .dots {
      text-align: right;
      margin-top: 15px;
    }

    .dot {
      display: block;
      float: left;
      height: 35px;
      width: 35px;
      margin: 0 6px;
      /* background-color: #ced4da; */
      background: url(../images/carousel_Dot.png) no-repeat 0 0 !important;
      /* border-radius: 100%; */
      cursor: pointer;
      /* transition: background-color 0.3s ease; */
    }

    .dot.active {
      background: url(../images/carousel_Dot_active.png) no-repeat 0 0 !important;
    }